<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="./assets/logo.jpeg">
</div>
<h2>Menu</h2>
<p>Search:&nbsp;<input type="text" [(ngModel)]="keyword" placeholder="Search by ingredient"/></p>

<ul class="pizzas">
  <li *ngFor="let m of menu | myfilter:keyword">
    <span class="badge">{{m.item.name}}</span> {{m.item.ingredients}} <input type="number" placeholder="Qty" [(ngModel)]="m.qty" name="pizza{{m.item.id}}" /> <button (click)="addItem(m.item, m.qty)">+</button>
  </li>
</ul>
<h2>Order</h2>
<p *ngIf="orders.length == 0">No orders made yet</p>
<ul class="orders">
  <li *ngFor="let order of orders; let i = index">
    <span class="badge">{{order.item.name}}</span> {{order.item.ingredients}}&nbsp;(Qty:&nbsp;{{order.quantity}}) <button (click)="removeItem(i)">-</button>
  </li>
</ul>